<?xml version="1.0" encoding="UTF-8" ?>
<web-app>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>jp.ac.asojuku.ems.filter.EncodingFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>



<servlet>
	<servlet-name>LoginStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.LoginStartAction</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>LoginStartAction</servlet-name>
	<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>LogoutStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.LogoutStartAction</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>LogoutStartAction</servlet-name>
	<url-pattern>/logout</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>MenuStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.MenuStartAction</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>MenuStartAction</servlet-name>
	<url-pattern>/menu</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_exgetStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Admin_exgetStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Admin_exgetStartAction</servlet-name>
	<url-pattern>/admin_exget</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_exlist_singleStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Admin_exlist_singleStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Admin_exlist_singleStartAction</servlet-name>
	<url-pattern>/admin_exlist_single</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_exadd_checkStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Admin_exadd_checkStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Admin_exadd_checkStartAction</servlet-name>
	<url-pattern>/admin_exadd_check</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_exaddStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Admin_exaddStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Admin_exaddStartAction</servlet-name>
	<url-pattern>/admin_exadd</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_exlistStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Admin_exlistStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Admin_exlistStartAction</servlet-name>
	<url-pattern>/admin_exlist</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_exupdate_checkStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Admin_exupdate_checkStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Admin_exupdate_checkStartAction</servlet-name>
	<url-pattern>/admin_exupdate_check</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_exupdateStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Admin_exupdateStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Admin_exupdateStartAction</servlet-name>
	<url-pattern>/admin_exupdate</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_stadd_checkStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Admin_stadd_checkStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Admin_stadd_checkStartAction</servlet-name>
	<url-pattern>/admin_stadd_check</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_staddStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Admin_staddStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Admin_staddStartAction</servlet-name>
	<url-pattern>/admin_stadd</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_stlistStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Admin_stlistStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Admin_stlistStartAction</servlet-name>
	<url-pattern>/admin_stlist</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_stupdate_checkStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Admin_stupdate_checkStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Admin_stupdate_checkStartAction</servlet-name>
	<url-pattern>/admin_stupdate_check</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin_stupdateStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Admin_stupdateStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Admin_stupdateStartAction</servlet-name>
	<url-pattern>/admin_stupdate</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>St_exaddStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.St_exaddStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>St_exaddStartAction</servlet-name>
	<url-pattern>/st_exadd</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>St_exgetStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.St_exgetStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>St_exgetStartAction</servlet-name>
	<url-pattern>/st_exget</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>St_exlistStartAction</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.St_exlistStartAction</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>St_exlistStartAction</servlet-name>
	<url-pattern>/st_exlist</url-pattern>
</servlet-mapping>

<!--　追加しました。6/27 馬場-->
<servlet>
	<servlet-name>Login_check</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Login_check</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Login_check</servlet-name>
	<url-pattern>/login_check</url-pattern>
</servlet-mapping>
<!--　追加しました。6/28 馬場-->
<servlet>
	<servlet-name>LogoutSuccess</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.LogoutSuccess</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>LogoutSuccess</servlet-name>
	<url-pattern>/logout_success</url-pattern>
</servlet-mapping>
<!--　追加しました。7/19 馬場-->
<servlet>
	<servlet-name>Admin_stupdate_Success</servlet-name>
	<servlet-class>jp.ac.asojuku.ems.action.Admin_stupdate_Success</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Admin_stupdate_Success</servlet-name>
	<url-pattern>/admin_stupdate_success</url-pattern>
</servlet-mapping>
</web-app>