<!--
date:20150523
name:情シ専2A　○○　○○
comm:DBへの登録画面
-->


<html>
<head>
<title>学生情報更新</title>
<style type="text/css">
</style>
<link href="template.css" rel="stylesheet" type="text/css">
</head>

<body>
		<h2 class="text_center">学生情報更新</h2>
		<form action="" method="" class="text_center">
			<table class="contents_center">
			<tr>
				<td>お名前</td>
				<td>姓：<input  maxlength='8' name="name"></td>
			</tr>
			<tr>
				<td></td>
				<td>名：<input  maxlength='8' name="name"></td>
			</tr>
			<tr>
				<td>フリガナ（カナ）</td>
				<td>セイ：<input name="name"></td>
			</tr>
			<tr>
				<td></td>
				<td>メイ：<input name="name"></td>
			</tr>
			<tr>
				<td>生年月日</td>
				<td><select name="year">
					<option value="">--</option>
				</select>
				年
				<SELECT name="month">
				<option value="">--</option>
				</SELECT>
				月
				<SELECT name="day">
				</select>
				日</td>
			</tr>
			<tr>
				<td>学科</td>
				<td>
				<select name="example" id="search2">
					<option value="">学科</option>
				</select>
				</td>			
			</tr>
			<tr>
				<td>学年</td>
				<td>
					<select name="example" id="search2">
							<option value="">学年</option>
					</select>
				</td>			
			</tr>
			<tr>
				<td>クラス</td>
				<td>
					<select name="example" id="search2">
							<option value="">クラス</option>
					</select>
				</td>			
			</tr>
			<tr>
				<td>パスワードの変更</td>
				<td><input type="radio" name="riyu" value="1" checked="checked">変更する
					<input type="radio" name="riyu" value="2">変更しない
				</td>			
			</tr>
			<tr>
				<td>新しいパスワード</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td>パスワード再入力</td><td><input type="password" name="password"></td>
			</tr>
			</table>
			<input type="submit" value="変更する">
			<input type="reset" value="キャンセル">
		</form>
	</body>
</html>