<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>ログアウト</title>

<!--CSSファイルはここに追記-->
<link rel="stylesheet" type="text/css" href="../template.css">
<!--ここまで-->

</head>

<body>
<header>
<img class="logo" alt="logo" src="../../Pictures/wallaby.png">
<h1>検定管理システム</h1>
ようこそ<b><!--ユーザの名前を表示する--></b>さん。
<input class="header_btn" name="Button1" type="button" value="ログイン／ログアウト" />
<!--ここにパンくずリストを書いて下さい-->
<!--処理の例が書いてあるので書き換えるかコピー＆ペーストしてください-->
<div class="pan_list">
<ul>
　<li><a href="/">ページ１</a> ＞</li>
 　<li><a href="/">ページ２</a> ＞</li>
 　<li>ページ３</li>
</ul>
</div>
<!--パンくずリストのコードはここまで-->

</header>

<!--コンテンツはここから書いてね-->

<div class="text_center">
<p>本当にログアウトしてもよろしいでしょうか？</p>
<input class="btn" name="Button1" type="button" value="キャンセル" /> <input class="color_btn" name="Button1" type="button" value="ログアウト" />
</div>


<!--コンテンツはここまで-->

<footer><p class="text_center">Copyright &copy; 2016 Team Nullpointer All rihgt Reserved.</p></footer>
</body>

</html>
